- @page_title = "Data Sets"
- columns = @columns
%section#data_sets_index
  %h1.page_title= @page_title
  = render :partial => 'advanced_search'
  %table.data_sets
    %thead
      %tr
        - if data_set_column_visible?(columns, :title)
          %th.title= hypenate 'Ti-tle'
        - if data_set_column_visible?(columns, :organization)
          %th.organization= hypenate 'Or-gan-i-za-tion'
        - if data_set_column_visible?(columns, :catalogs)
          %th.catalogs= hypenate 'Cat-a-log(s)'
        - if data_set_column_visible?(columns, :categories)
          %th.categories= hypenate 'Cat-e-gor-ies'
        - if data_set_column_visible?(columns, :tags)
          %th.categories= hypenate 'Tags'
        - if data_set_column_visible?(columns, :data_quality)
          %th.data_quality= hypenate 'Da-ta Qual-i-ty'
        - if data_set_column_visible?(columns, :documentation_quality)
          %th.documentation_quality= hypenate 'Doc-u-men-ta-tion Qual-i-ty'
        - if data_set_column_visible?(columns, :interestingness)
          %th.interestingness= hypenate 'In-ter-est-ing-ness'
        - if data_set_column_visible?(columns, :released)
          %th.released= hypenate 'Re-leased'
        - if data_set_column_visible?(columns, :updated)
          %th.updated= hypenate 'Up-da-ted'
        - if data_set_column_visible?(columns, :period)
          %th.period= hypenate 'Pe-ri-od'
        - if data_set_column_visible?(columns, :representations)
          %th.representations= hypenate 'Rep-re-sen-ta-tions'
    %tbody
      - @data_sets.each do |ds|
        %tr
          - if data_set_column_visible?(columns, :title)
            %td.title= link_to(ds.title, data_set_path(ds))
          - if data_set_column_visible?(columns, :organization)
            %td.organization= data_set_organization(ds)
          - if data_set_column_visible?(columns, :catalogs)
            %td.catalogs= data_set_catalogs(ds)
          - if data_set_column_visible?(columns, :categories)
            %td.categories= data_set_categories(ds)
          - if data_set_column_visible?(columns, :tags)
            %td.tags= data_set_tags(ds)
          - if data_set_column_visible?(columns, :data_quality)
            %td.data_quality= data_set_passive_rating(ds.data_quality)
          - if data_set_column_visible?(columns, :documentation_quality)
            %td.documentation_quality= data_set_passive_rating(ds.documentation_quality)
          - if data_set_column_visible?(columns, :interestingness)
            %td.interestingness= data_set_passive_rating(ds.interestingness)
          - if data_set_column_visible?(columns, :released)
            %td.released= kronos_to_s(ds.released)
          - if data_set_column_visible?(columns, :updated)
            %td.updated= kronos_to_s(ds.updated)
          - if data_set_column_visible?(columns, :period)
            %td.period= kronos_range_to_s(ds.period_start, ds.period_end)
          - if data_set_column_visible?(columns, :representations)
            %td.representations= data_set_representations(ds)
