- @page_title = "Add a Data Set"
%section#data_sets_new
  %h1.page_title= @page_title
  %section.details
    = form_for(DataSet.new) do |f|
      %dl
        %dt Title
        %dd.title= text_field(:data_set, :title)
        %dt Description
        %dd.description= text_area(:data_set, :description, :rows => 3, :cols => 50)
        .clear
      %dl
        %dt Organization
        %dd= text_field(:data_set, :organization, :size => 50)
        %dt Time Period
        %dd= text_field(:data_set, :period_start, :size => 12) + " to " + text_field(:data_set, :period_end, :size => 12)
        %dt Released
        %dd= text_field(:data_set, :released, :size => 50)
        %dt URL
        %dd= url_field(:data_set, :url, :size => 50)
        %dt Documentation URL
        %dd= url_field(:data_set, :documentation_url, :size => 50)
        %dt License
        %dd= text_field(:data_set, :license, :size => 50)
        %dt License URL
        %dd= url_field(:data_set, :license_url, :size => 50)
        .clear
      %dl
        %dt Categories
        %dd= text_field(:data_set, :categories, :size => 50)
        %dt Tags
        %dd= text_field(:data_set, :tags, :size => 50)
        %dt Catalogs
        %dd= text_field(:data_set, :catalogs, :size => 50)
        .clear
      %dl
        %dt Parent
        %dd= text_field(:data_set, :parent, :size => 50)
        %dt Facets
        %dd= text_field(:data_set, :facets, :size => 50)
        .clear
      %dl
        %dt Children
        %dd= text_field(:data_set, :children, :size => 50)
        .clear
      = f.submit "Submit"
