- ds = @data_set
- @page_title = ds.title
%section#data_sets_show
  %h1.page_title= @page_title
  %section.details
    %p= data_set_description(ds)
    %dl
      %dt Organization
      %dd= data_set_organization(ds)
      %dt Time Period
      %dd= kronos_range_to_s(ds.period_start, ds.period_end)
      %dt Released
      %dd= kronos_to_s(ds.released)
      %dt Updated
      %dd= kronos_to_s(ds.updated)
      %dt URL
      %dd= url_only(ds.url, 60)
      %dt Documentation URL
      %dd= url_only(ds.documentation_url, 60)
      %dt License
      %dd= try_link_to(ds.license, ds.license_url)
      .clear
    %dl
      %dt Categories
      %dd= data_set_categories(ds)
      %dt Tags
      %dd= data_set_tags(ds)
      %dt Catalogs
      %dd= data_set_catalogs(ds)
      .clear
    - if ds.parent
      %dl
        %dt Parent
        %dd= data_set_parent(ds)
        %dt Facets
        %dd= data_set_facets(ds)
        .clear
    - unless ds.children.empty?
      %dl
        %dt Children
        %dd= data_set_children(ds)
        .clear
    %dl
      %dt Data Quality Ratings
      %dd= data_set_rating_histogram(ds, :data_quality)
      %dt Documentation Quality Ratings
      %dd= data_set_rating_histogram(ds, :documentation_quality)
      %dt Interestingness Ratings
      %dd= data_set_rating_histogram(ds, :interestingness)
  %section.distributions
    = render :partial => 'distributions'
