- @page_title = "Add a Data Source"
%section#data_sources_new
  %h1.page_title= @page_title
  %section.details
    = form_for(DataSource.new) do |f|
      %dl
        %dt Title
        %dd.title= text_field(:data_source, :title)
        %dt Description
        %dd.description= text_area(:data_source, :description, :rows => 3, :cols => 50)
      %dl
        %dt Organization
        %dd= text_field(:data_source, :organization, :size => 50)
        %dt Time Period
        %dd= text_field(:data_source, :period_start, :size => 12) + " to " + text_field(:data_source, :period_end, :size => 12)
        %dt Released
        %dd= text_field(:data_source, :released, :size => 50)
        %dt Source URL
        %dd= url_field(:data_source, :source_url, :size => 50)
        %dt Documentation URL
        %dd= url_field(:data_source, :documentation_url, :size => 50)
        %dt License
        %dd= text_field(:data_source, :license, :size => 50)
        %dt License URL
        %dd= url_field(:data_source, :license_url, :size => 50)
      %dl
        %dt Categories
        %dd= text_field(:data_source, :categories, :size => 50)
        %dt Tags
        %dd= text_field(:data_source, :tags, :size => 50)
        %dt Catalogs
        %dd= text_field(:data_source, :catalogs, :size => 50)
      %dl
        %dt Parent
        %dd= text_field(:data_source, :parent, :size => 50)
        %dt Facets
        %dd= text_field(:data_source, :facets, :size => 50)
      %dl
        %dt Children
        %dd= text_field(:data_source, :children, :size => 50)
      = f.submit "Submit"
