- fds = @featured_data_source
%h1 Featured Data Source
- if fds
  - ds = fds.data_source
  %dl
    %dt Title
    %dd= link_to(ds.title, data_source_path(ds))
    %dt Description
    %dd= ds.description
    %dt Organization
    %dd= data_source_organization(ds)
    %dt Time Period
    %dd= kronos_range_to_s(ds.period_start, ds.period_end)
    %dt Released
    %dd= kronos_to_s(ds.released)
    %dt Source URL
    %dd= url_only(ds.url, 40)
- else
  :markdown
    We are not currently featuring a data source. If you have a recommendation
    on a data source to feature, please contact us.
