- @page_title = 'Home'
#home_index
  .group_1
    %section.locations
      = render :partial => 'locations'
    %section.about_app
      :markdown
        Looking for government **data sets**, **APIs**, and **tools**? We have
        data from various **levels** (federal, state, and local) and
        **branches** (executive, legislative, and judicial) of government.
    %section.categories
      = render :partial => 'categories'
    .clear
  %section.aggregates
    = render :partial => 'aggregates'
  .highlights
    %section.find_data
      %h1= link_to('Find Data', data_sources_path)
      %p Find data sources (data sets, APIs, and tools)
    %section.discuss_data
      %h1= link_to('Discuss Data', discussions_path)
      %p Discuss, question, document data sources
    %section.share_data
      %h1= link_to('Share Data', data_sources_path)
      %p Share your derivative work based on the data here
    %section.find_people
      %h1= link_to('Find People', users_path)
      %p Find interesting people in the data community
    .clear
  .group_2
    %section.activity_stream
      = render :partial => 'activity_stream'
    %section.featured_data_source
      = render :partial => 'featured_data_source'
    .clear