- @page_title = "Organizations"
%section#organizations_index
  %h1.page_title= @page_title
  %table.organizations
    %thead
      %tr
        %th.name Name
        %th.acronym Acronym
        %th.other_names Other Names
        %th.data_sources Data Sources
    %tbody
      - @organizations.each do |o|
        %tr
          %td.name= link_to(o.name, organization_path(o))
          %td.acronym= o.acronym
          %td.other_names= o.other_names
          %td.data_sources= o.data_sources.length
