%footer
  %nav
    %ul
      %li.blog= link_to 'Blog', ''
      %li.about= link_to 'About', ''
      %li.contact= link_to 'Contact Us', ''
      %li.contact= link_to 'Developer API', ''
      %li.contact= link_to 'Government', ''
  %aside#about_main_org
    %p
      =image_tag('sunlight-logo.png', :size => '138x62', :alt => "Sunlight Foundation", :class => :logo)
      Founded in 2006, the
      =link_to "Sunlight Foundation", "http://sunlightfoundation.com"
      uses cutting-edge technologies and ideas to increase government transparency
      and accountability.
  .clear
