!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :name => "description", :content => "An open platform for government data sets and APIs. We make it easy to find DataSources by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial)." }
    %meta{ :charset => "utf-8" }
    %title= "#{@page_title} | National Data Catalog"
    /[if lt IE 9]
      = javascript_include_tag 'html5shiv'
    = stylesheet_link_tag 'yui/reset', 'application', :cache => true
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = csrf_meta_tag
    = content_for :head
  %body
    #page_wrapper_1
      #header_wrapper= render 'layouts/header'
      #content_wrapper
        = render 'layouts/messages'
        = yield
      .clear
      #footer_wrapper= render 'layouts/footer'
    = javascript_include_tag 'jquery', 'jquery.ui.core', 'jquery.ui.widget', 'jquery.dj.rating', 'application', :cache => true
    - if Rails.env == 'production'
      %script{ :src => "http://services.sunlightlabs.com/brandingbar/hat_js/natdatcat/", :type => "text/javascript" }
      = render 'layouts/analytics'
